.button_text {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    pointer-events: none;
}

.text_feed {
    left: 45px;
    top: 910px;
}

.text_add {
    left: 187px;
    top: 915px;
    font-size: 15px;
}

.text_list {
    left: 335px;
    top: 910px;
}

.description {
    width: 385px;
    height: 60px;
    left: 27px;
    top: 774px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.side_text {
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0 0 4px #000;
}

.likes {
    left: 378px;
    top: 660px;
}

.coefficient {
    left: 328px;
    top: 575px;
}

.price {
    left: 348px;
    top: 490px;
}

.next {
    left: 354px;
    top: 749px;
}

.more {
    left: 27px;
    top: 834px;
}

.frame {
    width: 440px;
    height: 956px;
    position: relative;
    background: white;
    overflow: hidden;
}

.background {
    width: 440px;
    height: 230px;
    left: 0;
    top: 726px;
    position: absolute;
    opacity: 0.60;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 55%);
}

.active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset !important;
}

.bottom_line {
    width: 440px;
    height: 117px;
    left: 0;
    top: 840px;
    position: absolute;
    background: #11171E;
}

.buttons {
    position: absolute;
    background: #C4FF5C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.size_50 {
    width: 50px;
    height: 50px;
    position: absolute;
}

.size_30 {
    width: 30px;
    height: 30px;
    position: absolute;
    pointer-events: none;
}

.big_button {
    left: 18px;
    position: absolute;
    background: #1F2F1D;
    border-radius: 10px;
    border: 1px #A3FF12 solid;
    width: 405px;
    height: 90px;
}

.big_button_text {
    left: 195px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.dark_bg {
    width: 440px;
    height: 956px;
    position: relative;
    background: #080B0F;
    overflow: hidden;
}

body {
    margin: 0;
}

.input_field {
    position: absolute;
    background: #0A0F15;
    border-radius: 10px;
    border: 1px #3E4853 solid;
    color: #9AA5B3;
    font-size: 16px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.label {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.create_button {
    cursor: pointer;
    width: 365px;
    height: 36px;
    left: 43px;
    top: 712px;
    position: absolute;
    background: #C4FF5C;
    border-radius: 10px;
}

.create_button_text {
    left: 177px;
    top: 716px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word
}

.flex {
    top: 154px;
    left: 18px;
    width: 410px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

}

.card {
    flex: 0 0 250px;
    width: 195px;
    height: 250px;
    border-radius: 10px;
    border: 1px #A3FF12 solid;
    background: #1F2F1D;
    margin: 0 13px 23px 0;
    position: relative;
}

.card_text {
    position: absolute;
    color: #9AA5B3;
    font-size: 12px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    left: 15px;
}

.card_title {
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Inter,system-ui,-apple-system,sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    left: 15px;
    top: 151px;
}

.card_image {
    width: 158px;
    height: 123px;
    left: 19px;
    top: 17px;
    position: absolute;
    border-radius: 5px;
}



.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 25px;
    position: absolute;
    background: #a4a4a4;
    outline: none;
    top: 100px;
    left: 20px;
}

.slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 25%;
    top: 15px;
    width: 50%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background: #C4FF5C;
    cursor: pointer;
    border-radius: 20px;

    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #C4FF5C;
    cursor: pointer;
    border-radius: 20px;

    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    border: 0;
}
.slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;

}
.slider input[type=range]::-moz-focus-outer {
border: 0;
}
