<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Теплоизоляция</title>
    <link rel="stylesheet" href="/static/css/thermal_insulations_style.css">
</head>
<body>
    <div class="dark_bg"></div>
    <div class="bottom_line"></div>

    <a class="buttons active" style="left: 32px; top: 859px;" href="/"></a>
    <img class="size_30" style="left: 57px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/6398/6398532.png"  alt="Лента">
    <div class="button_text text_feed">Лента</div>
    <a class="buttons" style="left: 180px; top: 859px;" href="/add_thermal_insulations"></a>
    <img class="size_30" style="left: 206px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/12194/12194587.png"  alt="Новое">
    <div class="button_text text_add">Добавить</div>
    <a class="buttons" style="left: 328px; top: 859px;" href="/list_thermal_insulations"></a>
    <img class="size_30" style="left: 353px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/5880/5880909.png"  alt="Плитка">
    <div class="button_text text_list">Плитка</div>

    <div class="label" style="left: 29px; top: 54px">Поиск по цене</div>
    <div style="left: 20px; top: 137px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">500</div>
    <div style="left: 340px; top: 137px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">3000</div>
    <form id="form" method="GET" action="list_thermal_insulations">
        <input type="range" min="500" max="5000" value="{{low}}" class="slider" id="lower" name="lower">
        <input type="range" min="500" max="5000" value="{{high}}" class="slider" id="higher" name="higher">
        <button type="submit" style="width: 48px; height: 48px; left: 375px; top: 89px; position: absolute; background: #C4FF5C; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"></button>
    </form>
    <img style="width: 30px; height: 30px; left: 385px; top: 98px; position: absolute; pointer-events: none;" src="https://cdn-icons-png.flaticon.com/512/751/751463.png" alt="">

    <div class="flex">
        {% for i in db %}
        <div class="card">
            <div class="card_title">{{ i.title }}</div>
            <img class="card_image" src="{{ i.image_url }}"  alt="">
            <div class="card_text" style="top: 193px">Коэффициент: {{ i.coefficient }} мВт/м°C</div>
            <div class="card_text" style="top: 215px">Цена: {{ i.price }} руб.</div>
        </div>
        {% endfor %}
    </div>

</body>
</html>